    <section>
       <h1>Precio</h1> 
       <p>Adquiere uno de nuestros planes en promocíon</p>
       <div class="cuadros">
        <div class="row ">
        <div class="col-3 ">
       <div class="card">
        <h5 class="card-header">Libre</h5>
        <div class="card-body">
          <h5 class="card-title"><b>$0/mes</b></h5>
          <p>10 Usuarios incluidos </p>
          <p>2 GB de almacenamiento </p>
          <p>Soporte de correo electronico </p>
          <p>Acceso al centro de ayuda</p>
          <a href="#" class="btn btn-outline-primary ">Registrate gratis</a>
        </div>
      </div>
       </div>
        <div class="col-3">
       <div class="card">
        <h5 class="card-header">Pro</h5>
        <div class="card-body">
          <h5 class="card-title"><b>$15/mes</b></h5>
          <p>10 Usuarios incluidos </p>
          <p>2 GB de almacenamiento </p>
          <p>Soporte de correo electronico </p>
          <p>Acceso al centro de ayuda</p>
          <a href="#" class="btn btn-primary">Empezar</a>
        </div>
      </div>
        </div>
        <div class="col-3">
       <div class="card">
        <h5 class="card-header">Empresa</h5>
        <div class="card-body">
          <h5 class="card-title"><b>$29/mes</b></h5>
          <p>10 Usuarios incluidos </p>
          <p>2 GB de almacenamiento </p>
          <p>Soporte de correo electronico </p>
          <p>Acceso al centro de ayuda</p>
          <a href="#" class="btn btn-primary">Contactenos</a>
        </div>
      </div>
        </div>
       </div>
       </div>
    </section>

